div#about
	div.row.top
		div.columns.small-12.medium-10.small-centered.medium-centered.text-center
			h1.text-center About
			h3.text-center 360 Futbol Camp is Vaughan's new youth soccer camp.
			p.text-justified Our summer camp is for the soccer player who is looking to improve and expand their technical skill level in a fun and professional environment. This 5 day Summer Camp geared towards footballers aged 6-14 utilizes age specific training for players of varying skill levels and is designed to encourage players to experiment and learn to feel comfortable in all aspects of the game.
	
	div.row
		.columns.small-12.medium-10.medium-centered
			ul.week-sched.button-group.round.stack-for-small
				li.text-center: a.button.secondary.expand MONDAYS
					.week-play.text-center.radius.animated.bounceIn
						h5 My Ball Mondays
						p.text-justified Individual ball skill development.
				
				li.text-center: a.button.secondary.expand TUESDAYS
					.week-play.text-center.radius.animated.bounceIn
						h5 Tactic Tuesdays
						p.text-justified Learning the fundamentals of the game.
				
				li.text-center: a.button.secondary.expand WEDNESDAYS
					.week-play.text-center.radius.animated.bounceIn
						h5 We Play Wednesdays
						p.text-justified Possession oriented drills.
				
				li.text-center: a.button.secondary.expand THURSDAYS
					.week-play.text-center.radius.animated.bounceIn
						h5 Train Hard Thursdays
						p.text-justified High intensity training.
				
				li.text-center: a.button.secondary.expand FRIDAYS
					.week-play.text-center.radius.animated.bounceIn
						h5 Fun Filled Fridays
						p.text-justified Full day tournament.
						p.text-justified Campers vs. Staff/Pro's to close out the week.
	div.row.bottom
		div.columns.small-12.medium-4.text-center.center
			h4: i.fa.fa-list-ol.fa-2x
			h4.subheader Learn
			p We focus on core soccer skills through drills, verbal instruction, and written diagrams. We then encourage campers to practice and ask questions.
		div.columns.small-12.medium-4.text-center
			h4: i.fa.fa-soccer-ball-o.fa-2x
			h4.subheader Play
			p The most important part of any developing athletes skill is their ability to apply knowledge and adapt during game time situations. We allow time everyday for our campers to participate in small sided games, to practice skills learned and build stamina.
		div.columns.small-12.medium-4.text-center
			h4: i.fa.fa-child.fa-2x
			h4.subheader Improve
			p With knowledge, practice, and guidance we guarantee a confidence boost in game, a development in player skill, advanced situational response, and a growth in stamina along with overall awareness.