#footer
	.row
		.column.small-6.medium-3.small-centered.medium-centered.text-center
			ul.inline-list.text-center
				li: a(href='https://www.facebook.com/pages/360-Futbol-Camp/1376148409363198')
					i.fa.fa-facebook.fa-2x
				li: a(href='https://www.twitter.com/360FutbolCamp')
					i.fa.fa-twitter.fa-2x
				li: a(href='http://instagram.com/360futbolcamp')
					i.fa.fa-instagram.fa-2x
	.row
		.column.small-6.medium-6.small-centered.medium-centered.text-center
			p &#169; Copyright 360 Futbol Camp 2015
