div#header-content
	div.row
		div.small-12.column.brand
			img.logo.zoomInDown.animated(src='images/logo.svg')
			h4.nav Teaching all aspects of the game.
			div.hero-scroll.wow.fadeIn.animated(data-wow-duration='1s', data-wow-delay='1s')
				a(href='#about')
					i.fa.fa-chevron-down.fa-3x.wow.tada.animated(data-wow-duration='1s', data-wow-delay='1s', data-wow-iteration='3')