header#header.header.headroom
	.container
		nav.top-bar(data-topbar, role='navigation')
			ul.title-area
				li.name
					h1.a(href='#')
				li.toggle-topbar.menu-icon: a(href='#')
					span menu
			section.top-bar-section
				ul
					li: a(href='#header-content') HOME
					li: a(href='#about') ABOUT
					li: a(href='#our-team') OUR TEAM
					li: a(href='#contact-form') CONTACT
					li: a(href='#register' style='color:#056fb7;') REGISTER