#our-team
	div.row
		div.columns.small-12.medium-8.small-centered.medium-centered.text-center
			h1 Our Team
			h3 We’ve teamed up with some great coaches.
			p This year 360 Futbol Camp has gathered a great group of coaches, not only to teach the skills and techniques of this beautiful game, but to also set an example for our campers of what you can achieve in life with practice, hard work and determination.
	
	//- PAUL LIPPA ROW- HEAD COACH
	div.row
		.column.small-12.small-centered.medium-3.medium-centered.text-center
			a.project-item(href='#paul', data-project-id='paul')
				img.thumb(src='images/thumbs/opt/coach1.png')
	div.row#paul.hide.project
		.column.small-12.small-centered.medium-12.medium-centered
			.panel.radius.animated.fadeInLeft
				.row
					.column.small-12.text-right.medium-7
						.row
							.column.small-12
								a.left.project-close(href='#project-close', data-project-id='paul')
									i.fa.fa-times-circle-o.fa-2x
								h2 Paul Lippa
							.column.small-12
								h4 Head coach
								h4.subheader Coaching Level: Pre-B
								p.text-justified Paul Lippa is the owner, founder and Camp Head Coach at 360 Futbol Camp. Coach Paul brings both a wealth of playing and coaching experience to the camp. Coach Paul played his entire youth career at Glen Shields FC, captaining his side to a number of league titles; most recently Glen Shields earned OSL champions in the summer of 2014. Coach Paul has decided to focus more on coaching as he has become the head coach for three Glen Shields teams in the Boys 2005 age group. Coach Paul is looking forward to the opportunity to run 360 Futbol Camp and ensures the campers will develop as players and young adults. 
					.column.small-12.medium-5
						img(src='images/thumbs/opt/coach-big-1.png')

	//-  END PAUL LIPPA ROW- HEAD COACH

	//- JAY FAB DANIELA GIA CHRIS ROW- COACHES

	div.row
		.column.small-12.small-centered.medium-10.medium-centered.text-center
			h3 Our Coaches
	div.row
		.column.small-12.small-centered.medium-10.medium-centered.text-center
			ul.small-block-grid-5
				li: a.project-item(href='#fab', data-project-id='fab')
					img.thumb(src='images/thumbs/opt/coach5.png')
				li: a.project-item(href='#jay', data-project-id='jay')
					img.thumb(src='images/thumbs/opt/coach2.png')
				li: a.project-item(href='#daniela',data-project-id='daniela' )
					img.thumb(src='images/thumbs/opt/coach4.png')
				li: a.project-item(href='#christina',data-project-id='christina')
					img.thumb(src='images/thumbs/opt/coach6.png')
				li: a.project-item(href='#gianfranco',data-project-id='gianfranco')
					img.thumb(src='images/thumbs/opt/coach3.png')
	
	//- Jay bio

	
	div.row#jay.hide.project
		.column.small-12.small-centered.medium-12.medium-centered
			.panel.radius
				.row
					.column.small-12.text-right.medium-7
						.row
							.column.small-12
								a.left.project-close(href='#')
									i.fa.fa-times-circle-o.fa-2x
								h2 Jacob Ceccanese
							.column.small-12
								h4 Coach
								h4.subheader Coaching Level: Pre-B
								p.text-justified Jacob Ceccanese is a former Provincial and National Champion with Humber College. Prior to carrying his talents to the OCAA Jacob developed at Woodbridge Strikers Soccer Club. It was at Woodbridge SC where Jacob competed in the OYSL for three consecutive seasons, and after dominating his final two years Jacob decided to take his talent to SC Toronto of the CSL, earning caps for both the reserve and first team. After competing in the CSL for just over a season Jacob decide to return to Woodbridge Men's side and compete in OSL elite. Jacobs playing credentials speak for them-self. Jacob is now trying to build a coaching resume of a similar stature, assisting at Pure Touch, Father Bressani CHS and St. Gregory CES. Jacob is excited for the opportunity to join 360 Futbol Camp.
					.column.small-12.medium-5
						img(src='images/thumbs/opt/coach-big-2.png')

	//- Fabio Bio
	
	div.row#fab.hide.project
		.column.small-12.small-centered.medium-12.medium-centered
			.panel.radius
				.row
					.column.small-12.text-right.medium-7
						.row
							.column.small-12
								a.left.project-close(href='#')
									i.fa.fa-times-circle-o.fa-2x
								h2 Fabio Campoli
							.column.small-12
								h4 Coach
								h4.subheader Coaching Level: Provincial-B
								p.text-justified Fabio is a York University graduate who is currently completing his Bachelor of Education and playing OUA soccer. Fabio is recognized in the Ontario soccer community as a licensed trainer along with being an Ontario Cup champion, Superclubs USA champion, and a Canadian National Championship bronze medalist. Fabio is the all time leading goal scorer for Father Bressani high school where he captained a silver medal OFSAA squad in 2010. Fabio is pursuing a career in education and is heavily involved in the community through volunteering at various elementary schools and providing extra curricular programs to students who are unable to participate at an organized level. Fabio emphasizes the importance of combining both sport and academics in order to achieve future success. Fabio is currently the head coach for the Woodbridge Strikers 2006 boys.
					.column.small-12.medium-5
						img(src='images/thumbs/opt/coach-big-5.png')
	//- Daniela Bio

	div.row#daniela.hide.project
		.column.small-12.small-centered.medium-12.medium-centered
			.panel.radius
				.row
					.column.small-12.text-right.medium-7
						.row
							.column.small-12
								a.left.project-close(href='#')
									i.fa.fa-times-circle-o.fa-2x
								h2 Daniela Dell'Aquila
							.column.small-12
								h4 Coach
								h4.subheader Coaching Level: Active Start
								p.text-justified Daniela is currently attending University of Texas Brownsville on a soccer scholarship. Daniela's love for the game began at a young age where she grew up playing for Glen Shields FC. Daneila was fortunate enough to travel with her Glen Shields side, attending showcases such as the PDA in New Jersey USA, and Castle Tournament North Carolina, USA, drawing interest from multiple schools. Daniela came up through the provincial ranks; most notably competing in California with Team Ontario. However it was at Glen Shields where she lead her team to an Ontario Cup finals in 2013. Daniela is looking forward to the opportunity to join 360 Futbol Camp and allocate as much information as possible to the campers on a daily basis.
					.column.small-12.medium-5
						img(src='images/thumbs/opt/coach-big-3.png')
	//- Christina Bio

	div.row#christina.hide.project
		.column.small-12.small-centered.medium-12.medium-centered
			.panel.radius
				.row
					.column.small-12.text-right.medium-7
						.row
							.column.small-12
								a.left.project-close(href='#')
									i.fa.fa-times-circle-o.fa-2x
								h2 Christina Allegretto
							.column.small-12
								h4 Coach
								h4.subheader Coaching Level: FUNdamentals
								p.text-justified Christina considers her passion for soccer as a true privilege. Christina's enthusiasm for coaching stems from the belief that quality coaching makes a real difference. She is in her nineteenth year as a member of Glen Shields Futbol Club and has shared experiences as both a player and as a coach. Her commitment to the game has provided her with the opportunity to learn many valuable lessons, make countless memories as well as treasured friendships. Christina began her coaching career as a volunteer with Glen Shields Futbol Club nine years ago and has gained experience working with several teams since then. She currently coaches Glen Shields F.C`s 2005 Girls Rep team. Christina currently teaches with the York Region District School Board.
					.column.small-12.medium-5
						img(src='images/thumbs/opt/coach-big-6.png')
	//- Gianfranco Bio

	div.row#gianfranco.hide.project
		.column.small-12.small-centered.medium-12.medium-centered
			.panel.radius
				.row
					.column.small-12.text-right.medium-7
						.row
							.column.small-12
								a.left.project-close(href='#')
									i.fa.fa-times-circle-o.fa-2x
								h2 Gianfranco Manchisi
							.column.small-12
								h4 Coach
								h4.subheader Coaching Level: FUNdamentals
								p.text-justified Gianfranco developed a love for soccer at a young age. He joins 360 Futbol Camp with a wealth of experience. He has been a part of Glen Shields Futbol Club for the past eleven years, sharing responsibilities as both a player and as a coach. He is currently part of Glen Shields F.C`s Under-21 team and is the Head Coach of the 2005 Boys Rep team. Before becoming a head coach, Gianfranco had the pleasure assisting the Boys 2002 rep team for two years. His love for the game has stretched beyond competitive sport; Both Gianfranco and Christina hold positions as Glen Shields F.C House League Program Coordinators, a program that follows the Ontario Soccer Association`s Long Term Player Development Program. His passion for youth soccer stems beyond the pitch, his love for the game has allowed him to give back to a community that has given so much to him.
					.column.small-12.medium-5
						img(src='images/thumbs/opt/coach-big-10.png')
	
	//- PROs COACHES ROW
	div.row
		.column.small-12.small-centered.medium-10.medium-centered.text-center
			h3 Our Pros
	div.row
		.column.small-12.small-centered.medium-6.medium-centered.text-center
			ul.small-block-grid-2
				li: a.project-item(href='#alex', data-project-id='alex')
					img.thumb(src='images/thumbs/opt/coach7.png')
				li: a.project-item(href='#mark', data-project-id='mark')
					img.thumb(src='images/thumbs/opt/coach8.png')
	
	div.row#alex.hide.project
		.column.small-12.small-centered.medium-12.medium-centered
			.panel.radius
				.row
					.column.small-12.text-right.medium-7
						.row
							.column.small-12
								a.left.project-close(href='#project-close', data-project-id='alex')
									i.fa.fa-times-circle-o.fa-2x
								h2 Alex Martinat
							.column.small-12
								h4 Pro Player/ Coach
								p.text-justified Alex is a small town Footballer from Woodbridge, Canada. In his years growing up in Woodbridge he played for multiple clubs, including Woodbridge SC and Glen Shields FC. He pays great tribute to his former head coach Aldo Lippa who helped develop him into the player he is today. In 2013 Alex went over to London England where Alex played a few games with local teams, alongside getting looked at by pro teams such as Millwall FC. Into the year of 2014, Alex moved over to Slovakia, where Alex had professional training with first league team Spartak Trnava. Alex is currently back in London England, where Alex being looked at by a few clubs , hoping to sign a pro contract with a first team and begin a new life and a career with football. 
					.column.small-12.medium-5
						img(src='images/thumbs/opt/coach-big-7.png')

	div.row#mark.hide.project
		.column.small-12.small-centered.medium-12.medium-centered
			.panel.radius
				.row
					.column.small-12.text-right.medium-7
						.row
							.column.small-12
								a.left.project-close(href='#project-close', data-project-id='mark')
									i.fa.fa-times-circle-o.fa-2x
								h2 Mark Anthony Kaye
							.column.small-12
								h4 Pro Player/ Coach
								p.text-justified Mark-Anthony Alexander Kaye played for both Ajax SC and Glen Shields FC winning multiple indoor Ontario cups and captained his Ajax side to an OYSL title.  From 2012-2014 played at York University of the CIS recording 23 goals in 35 games over two seasons. Scoring the OUA championship winning goal sending the York lions 2013 Men's Soccer team to the National Tournament. Also winning the Rookie of the Year Award for the 2012-13 Season at York University. Due to an eye catching rookie season at York scoring 7 goals, Mark-Anthony Kaye was invited to trial at Toronto FC Academy at the beginning of 2013 year. Kaye finished off his first season with the TFC Senior Academy team with 5 goals on the year. His second year at Toronto FC Academy would see Kaye having a bigger role on the team as it was constructed of much younger group. Kaye played a total of 8 league games in the new up and coming League 1 Ontario league for TFC Academy notching only 1 goal before he would be loaned out for the rest of the USL a season. Kaye was loaned to Wilmington Hammerheads which was the USLPRO affiliate team of Toronto FC. Where he played a total of 7 games, registering two assists and scoring his first two pro goals once against LA Galaxy II and the game winner against Orlando City. Kaye made his professional debut on August 23rd of 2014. After being knocked out of the USL playoffs by the reigning champions Sacramento, Kaye returned to Toronto in mid September. Where he trained with first team for the rest of their season before he featured in two matches for the Senior Academy team in the Inter-Provincial Cup. Kaye was named Team Captain, for the Cup where he scored a goal in the first leg in 4-0 win over CS Longeiul of Quebec. Toronto FC would tie the second leg 0-0 and were named Champions, as Kaye was named MVP of the Inter Provincial Cup. At 20 years of age Mark-Anthony Kaye currently plays for Toronto FC and is earning is way on to the USL team, Toronto FC 2, to eventually one day sign with Toronto Fc's first team.
					.column.small-12.medium-5
						img(src='images/thumbs/opt/coach-big-8.png')

	//-  END Pros COACHES ROW
	