#testimonial
	.slider-with-photo
		.row
			.column.small-11small-centered.medium-10.medium-centered
				.box
					ul.example-orbit-content(data-orbit)
						li(data-orbit-slide='slide1')
							div.quote-block 
								blockquote
									h1.quote Paul was one of our top recruits in the class 2011, unfortunately we were unable to get him down to West Virginia, however I wish him the best of luck north of the boarder
									cite.author Sean Regan, Head Coach Bethany College
						li(data-orbit-slide='slide2')
							div
								blockquote
									h1.quote Paul Lippa has helped me excel in the game of futbol and more importantly, he has helped me excel in the game of life
									cite.author Marco D'Elia, Teammate 10+ years
						li(data-orbit-slide='slide3')
							div
								blockquote
									h1.quote Paul took on an immediate leadership role on the GFC men's side, backing his words up with his outstanding play all season long. The players both older and younger had the upmost respect for Paul and he has proven to become a extraordinary coach for our next generation futballers. 
									cite.author Robbie Pugliese, Head Coach GFC Mens